.modal__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: $white;
    animation-duration: .24s;

    @include breakpoint( $medium-up ) {
        position: absolute;
        left: 15%;
        top: 10%;
        width: 70%;
        height: 80%;
    }

    @include breakpoint( $large-up ) {
        @include x-rem( width, 500px );

        left: calc( 50% - 250px );
    }

    p {
        margin: 0;
    }

    &-enter {
        animation-name: modalPanelEnter;
    }

    &-leave {
        animation-name: modalPanelLeave;
    }
}
