.modal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( $black, .6 );
    animation-duration: .14s;

    &-enter {
        animation-name: modalBackdropEnter;
    }

    &-leave {
        animation-name: modalBackdropLeave;
        animation-delay: .24s;
    }
}
