$base: '.modal';

#{$base} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    p {
        margin: 0;
    }

    &__backdrop {
        background-color: rgba( $black, .6 );
    }

    &__panel {
        display: flex;
        flex-flow: column;
        height: 100%;
        background-color: $white;

        #{$base}__header {
            @include x-rem( padding, 20px );
            @include x-rem( font-size, 18px );

            flex: 0 0 auto;
            background-color: $brand-grey;
            font-family: $font-stack;
            color: $white;

            #{$base}__stop-indicator,
            #{$base}__stop-name {
                vertical-align: top;
            }

            #{$base}__stop-indicator {
                @include x-rem( width, 45px );
                @include x-rem( height, 45px );
                @include x-rem( margin-right, 15px );

                display: inline-table;
                background-color: $brand-green;
                border-radius: 50%;
                text-align: center;

                p {
                    @include x-rem( font-size, 18px );

                    display: table-cell;
                    vertical-align: middle;
                    font-weight: 500;
                }
            }

            #{$base}__stop-name {
                display: inline-block;
                width: 65%;

                p:first-child {
                    @include x-rem( margin, 3px 0 );
                }

                p:last-child {
                    @include x-rem( font-size, 14px );
                    font-weight: 300;
                }
            }
        }

        #{$base}__body {
            @include x-rem( padding, 20px );

            flex: 1 1 auto;
            overflow: scroll;
            font-family: $font-stack;
            color: $brand-grey;
        }

        #{$base}__item {
            @include x-rem( margin-bottom, 18px );
            @include x-rem( padding-bottom, 10px );

            border-bottom: 1px solid tint( $brand-grey, 90% );

            &:last-child {
                margin: 0;
                padding: 0;
                border: none;
            }

            &-route,
            &-wait {
                display: inline-block;
            }

            &-route {
                width: 70%;

                p:first-child {
                    @include x-rem( padding, 3px 12px );
                    @include x-rem( border-radius, 16px );
                    @include x-rem( margin-bottom, 7px );
                    @include x-rem( font-size, 14px );

                    display: inline-block;
                    background-color: $brand-green;
                    color: $white;
                    font-weight: 500;
                }

                p:last-child {
                    @include x-rem( font-size, 18px );
                }
            }

            &-wait {
                @include x-rem( font-size, 32px );

                font-weight: 300;
                width: 30%;
                text-align: right;

                span:last-child {
                    @include x-rem( font-size, 14px );
                    @include x-rem( margin-left, 5px );

                    color: tint( $brand-grey, 60% );
                    font-weight: 400;
                }
            }
        }
    }

    &__close-button {
        @include x-rem( padding, 18px 20px 22px );
        @include x-rem( font-size, 45px );

        position: absolute;
        top: 0;
        right: 0;
        border: none;
        cursor: pointer;
        line-height: 1ex;
        background: none;
        font-weight: 200;
        color: inherit;

        &:after {
            content: '\00d7';
        }
    }
}
