.site-header__search-field {
    @include x-rem( height, 35px );
    @include x-rem( padding-left, 12px );
    @include x-rem( margin-top, 16px );
    @include x-rem( border-radius, 4px );
    @include x-rem( font-size, 16px );

    width: 100%;
    border: none;
    font-family: $font-stack;
    background-color: tint( $brand-grey, 90% );
    transition: 0.3s ease;

    @include breakpoint( $medium-up ) {
        @include x-rem( height, 32px );

        position: absolute;
        width: 45%;
        left: 27.5%;
        top: 18px;
        margin: 0;
    }

    @include breakpoint( $large-up ) {
        @include x-rem( width, 500px );

        left: calc( 50% - 250px );
    }

    &:focus {
        outline: none;
        background-color: $white;
    }
}

// autocomplete dropdown elements
.pac-item {
    @include x-rem( padding, 5px 10px );

    font-family: $font-stack;
}
