.site-header {
    @include x-rem( padding, 16px );
    @include clearfix();

    background: $brand-dark-grey;
    font-size: 0;

    .sh-logo {
        @include x-rem( height, 50px );
        @include x-rem( margin-top, -5px );
        float: left;

        &:hover {
            cursor: pointer;
        }
    }
}
