.site-header {
    @include clearfix();
    @include x-rem( padding, 16px );

    background-color: $brand-grey;
    font-size: 0;

    &__logo {
        @include x-rem( height, 50px );
        @include x-rem( margin-top, -5px );

        float: left;

        &:hover {
            cursor: pointer;
        }
    }
}
