// General
$white: #ffffff;
$black: #000000;

// Brand colours
$brand-green: #3ebb51;
$brand-grey: #133939;

// Typography
$font-stack: 'Roboto', 'Helvetica', 'Arial', sans-serif;

// Breakpoints
$medium-up: 'only screen' 37.5em;
$large-up: 'only screen' 60em;
